<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="IdentityServiceConfig.IdentityProviderName" value="LXIP" />
    <add key="IdentityServiceConfig.IdentityServiceSiteName" value="LXIS" />
    <add key="IdentityServiceConfig.CertificateFilePath" value="idsrv3test.pfx" />
    <add key="IdentityServiceConfig.CertificateFilePassword" value="idsrv3test" />
    <add key="IdentityServiceConfig.SslRequiredForIdentityServer" value="false" />
    <add key="IdentityServiceConfig.AllowedOrigins" value="127.0.0.1 localhost" />

    <!--<add key="SignalRConfig.VirtualFolder" value="/sr" />

    <add key="BusSettings.MqConnectionString" value="host=localhost" />
    <add key="BusSettings.LogFolderRelativePath" value="_logs" />

    <add key="VerificationCodeConfig.EmailVerificationCodeLiveSpanMinutes" value="15" />
    <add key="VerificationCodeConfig.MobileVerificationCodeLiveSpanMinutes" value="5" />
    <add key="VerificationCodeConfig.PasswordlessVerificationCodeLiveSpanMinutes" value="10" />-->
  </appSettings>
</configuration>
